.my_projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  font-weight: 600;
  padding-top: 6rem;
}

.description_project,
.background_project {
  height: 333px;
  margin-bottom: 9rem;
}

.description_project > a {
  color: var(--corNomeProjeto);
  text-decoration: none;
}

.description_project > h1 {
  font-size: 2rem;
}

.description_project > div {
  width: 100%;
  height: 165px;
  background: radial-gradient(
    90.16% 143.01% at 15.32% 21.04%,
    rgba(105, 59, 147, 0.2) 0%,
    rgba(110, 191, 244, 0.0447917) 77.08%,
    rgba(70, 144, 213, 0) 100%
  );
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 2rem;
  z-index: 1000;
}

.description_project > .link {
  background-image: url(../../public/images/icone-click.svg);
  width: 30px;
  height: 30px;
  margin: 1rem;
  display: block;
  position: relative;
}

.description_project > .link::after {
  content: "Ver";
  position: absolute;
  top: 5px;
  left: 40px;
}

.background_project {
  position: relative;
  max-width: 582.88px;
  background-color: #2b215a;
  border-radius: 10px;
  transform: translate(-2rem, -2rem);
  z-index: -1;
}

.background_project > .background_contrast {
  position: absolute;
  top: -150px;
  left: -150px;
  width: 642px;
  height: 720px;

  background: radial-gradient(
    50% 50% at 50% 50%,
    #763cac 0%,
    rgba(50, 15, 133, 0) 100%
  );
}

.img_project {
  position: absolute;
  top: 2rem;
  left: 2rem;
  max-width: 100%;
  height: 100%;
  border-radius: 4px;
}

@media (max-width: 949px) {
  .my_projects {
    max-width: 100%;
  }

  .background_project > .background_contrast {
    top: -80px;
    left: -50px;
    width: 442px;
    height: 520px;
  }
}

@media (max-width: 800px) {
  .my_projects {
    grid-template-columns: auto;
    grid-template-rows: repeat(22, auto);
    max-width: 100%;
  }

  .background_1 {
    grid-area: 1/1;
  }

  .background_3 {
    grid-area: 5/1;
  }

  .background_5 {
    grid-area: 9/1;
  }

  .background_7 {
    grid-area: 13/1;
  }

  .background_9 {
    grid-area: 17/1;
  }

  .background_11 {
    grid-area: 21/1;
  }

  .background_project {
    height: 333px;
    margin-bottom: 0;
  }

  .description_project {
    margin-bottom: 8rem;
    margin-top: 10px;
  }

  .description_project > h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 550px) {
  .description_project > h1 {
    font-size: 1.5rem;
  }

  .description_project > div {
    height: auto;
    padding: 10px;
  }

  .background_project > .background_contrast {
    position: absolute;
    width: 372px;
    height: 500px;
    background: radial-gradient(
      50% 50% at 50% 50%,
      #763cac 0%,
      rgba(50, 15, 133, 0) 100%
    );
  }
}
