@media (max-width: 949px) {
  header > nav > ul > li {
    display: inline-block;
    text-decoration: none;
    margin-left: 2rem;
  }

  main {
    padding: 0 3rem;
  }

  main > .sobre {
    padding-top: 2rem;
  }

  /* Sobre mim */
  .sobre-mim > h1 {
    font-size: 2rem;
  }

  /* Minha Profissão */
  main > .sobre > .profissao {
    padding-left: 3rem;
  }

  .profissao > h1 {
    font-size: 2.2rem;
  }

  .profissao > .minha-profissao {
    margin-bottom: 2rem;
  }
  /* Fim Sobre mim */

  /* Inicio Experiência */
  .experiencia > h1 {
    font-size: 2.3rem;
  }

  .experiencia > section > .react-router {
    line-height: 1.5;
  }

  .react-router > div > h1,
  .consumo-api > div > h1,
  .projetos-responsivos > div > h1,
  .perfil-github > div > h1 {
    padding: 5px 0;
    font-size: 1.2rem;
  }

  .react-router > div > a,
  .consumo-api > div > a,
  .projetos-responsivos > div > a,
  .perfil-github > div > a {
    margin-top: 0.7rem;
  }
  /* Fim Experiência */

  /* inicio Habilidades */
  .habilidades > .img-globo {
    max-width: 100%;
  }
  /* Fim Habilidades */

  /* Meus Projetos */
  main > .meus-projetos {
    max-width: 100%;
  }

  .background-projeto > .contraste-fundo {
    top: -80px;
    left: -50px;
    width: 442px;
    height: 520px;
  }
}

@media (max-width: 800px) {
  header {
    padding: 0 2rem;
    max-width: 100%;
  }

  header > .nome {
    font-size: 1.2rem;
  }

  header > nav > ul > li {
    display: inline-block;
    text-decoration: none;
    margin-left: 1rem;
  }

  header > nav > ul > li > a {
    font-size: 0.8rem;
  }

  main > .sobre > .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* Imagem do boneco e o background de fundo */
  main > .sobre > .intro > .fundo-img {
    left: 50%;
    transform: translateX(-50%);
  }

  .fundo-img > p {
    right: -3rem;
    font-size: 0.8rem;
  }

  /* Sobre mim */
  /* Minha Profissão */
  main > .sobre > .profissao {
    padding-left: 2rem;
    padding-top: 4rem;
    line-height: 1.5;
    font-family: var(--fontePadrao);
  }

  .profissao > .minha-profissao {
    margin-bottom: 2rem;
  }

  /* Fim Sobre mim */

  /* Inicio Experiência */
  main > .experiencia {
    height: auto;
  }

  .experiencia > section {
    grid-template-columns: 1fr;
  }

  .experiencia > section > .react-router {
    justify-content: flex-start;
  }

  .experiencia > section > .consumo-api {
    justify-content: flex-start;
  }

  .experiencia > section > .projetos-responsivos {
    justify-content: flex-start;
  }

  .experiencia > section > .perfil-github {
    justify-content: flex-start;
  }

  .react-router > div,
  .consumo-api > div,
  .projetos-responsivos > div,
  .perfil-github > div {
    padding: 0.7rem;
  }
  /* Fim Experiência */

  /* inicio Habilidades */
  main > .habilidades {
    margin-top: 4rem;
  }
  /* Fim Habilidades */

  /* Inicio Meus Projetos */
  main > .meus-projetos {
    grid-template-columns: 1fr;
    max-width: 100%;
  }

  .descricao-projeto,
  .background-projeto {
    height: 333px;
    margin-bottom: 0;
  }

  .descricao-projeto:nth-child(even) {
    margin-bottom: 0rem;
  }

  .background-projeto:nth-child(even) {
    margin-bottom: 150px;
    margin-top: 2rem;
  }

  .descricao-projeto:nth-child(2n) {
    margin-bottom: 9rem;
  }

  .descricao-projeto > h1 {
    font-size: 1.8rem;
  }
  /* Fim MEus Projetos */

  footer {
    padding: 0 3rem;
  }

  footer > h1 {
    margin: 0rem 0 2rem 0;
  }
}

@media (max-width: 550px) {
  header {
    padding: 0 2rem;
    max-width: 100%;
  }

  header > .nome {
    font-size: 1.2rem;
  }

  /* Menu Mobile */
  header > .fechar-menu {
    display: none;
    cursor: pointer;
  }

  header > .menu-mobile {
    display: block;
    cursor: pointer;
  }

  header > nav {
    position: absolute;
    top: 4rem;
    right: 0;
    background-color: rgba(152, 87, 211, 0.8);
    width: 120px;
    padding: 1rem;
    line-height: 1.5;
    display: none;
    opacity: 0;
    transform: translateX(50px);
    animation: animeLeft 1s forwards;
  }

  header > nav > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header > nav > ul > li {
    display: block;
    margin-left: 0;
  }

  header > nav > ul > li > a {
    font-size: 0.8rem;
  }

  main {
    padding: 0 1.2rem;
  }

  /* Imagem do boneco e o background de fundo */
  main > .sobre > .intro > .fundo-img {
    width: 100%;
    height: 431px;
  }

  .fundo-img > p {
    right: 1rem;
  }

  .fundo-img > p::before {
    content: "";
    background-image: url(../imagens/seta.svg);
    width: 50px;
    height: 50px;
    position: absolute;
    left: -10px;
    top: 15px;
  }

  /* Sobre mim */
  .sobre-mim > h1 {
    font-size: 1.8rem;
  }

  .sobre-mim span::before {
    content: "";
    background-image: url(../imagens/circulo.svg);
    position: absolute;
    left: -15px;
    top: -10px;
    width: 188.58px;
    height: 57.9px;
  }

  /* Minha Profissão */
  main > .sobre > .profissao {
    padding-left: 0;
    padding-top: 4rem;
    line-height: 1.5;
  }

  .profissao > h1 {
    font-size: 1.6rem;
    font-weight: 400;
  }
  /* Fim Sobre mim */

  /* Inicio Experiência */
  .experiencia h1 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  .experiencia > section > .react-router img {
    display: none;
  }

  .experiencia > section > .consumo-api img {
    display: none;
  }

  .experiencia > section > .projetos-responsivos img {
    display: none;
  }

  .experiencia > section > .perfil-github img {
    display: none;
  }

  .react-router > div,
  .consumo-api > div,
  .projetos-responsivos > div,
  .perfil-github > div {
    padding: 0.7rem;
  }
  /* Fim Experiência */

  /* inicio Habilidades */
  .habilidades > .icones > .fundo-icone {
    margin: 0 10px;
  }

  .ligacoes {
    max-width: 100%;
  }

  .ligacao-1 {
    position: absolute;
    left: 20px;
  }

  .ligacao-2 {
    position: absolute;
    left: 80px;
  }

  .ligacao-3 {
    position: absolute;
    left: 140px;
  }

  .ligacao-4 {
    position: absolute;
    left: 171px;
  }

  .ligacao-5 {
    position: absolute;
    right: 75px;
  }

  .ligacao-6 {
    position: absolute;
    right: 10px;
  }

  .habilidades > h1 {
    font-size: 1.2rem;
    text-align: center;
  }
  /* Fim Habilidades */

  /* Inicio Meus Projetos */
  .descricao-projeto > h1 {
    font-size: 1.5rem;
  }

  .background-projeto > .contraste-fundo {
    position: absolute;
    width: 372px;
    height: 500px;

    background: radial-gradient(
      50% 50% at 50% 50%,
      #763cac 0%,
      rgba(50, 15, 133, 0) 100%
    );
  }
  /* Fim Meus Projetos */
}

@keyframes animeLeft {
  to {
    transform: initial;
    opacity: initial;
  }
}